{% extends 'adminbase.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div
		class="page-wrapper">
		<!-- start page container -->
		<div class="page-content-wrapper">
			<div
				class="page-content">
				<!-- START CONTENT-->
 
    <h1>Create new Image</h1>

    {{ include('admin/image/_form.html.twig') }}
 

<a href="{{ path('admin_image_index') }}">back to list</a>

			</div>
		</div>
	</div>
</body>

{% endblock %}
