{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
	<div
		class="page-wrapper">
		<!-- start page container -->
		<div class="page-content-wrapper">
			<div
				class="page-content"><!-- START CONTENT-->

<h1>Create new Messages</h1>


    {{ include('admin_messages/_form.html.twig') }}

    <a href="{{ path('admin_messages_index') }}">back to list</a>

			</div>
		</div>
	</div>
</body>{% endblock %}
